javascript/node_modules
.DS_Store
javascript/package-lock.json
# python/
*/data*/
*/*/data*/
.vscode/
other stuff/
javascript/public/test.html
.idea/
*.pem
*/__pycache__/
*/*/__pycache__/
fileserver/
*/fileserver/